  .bgimg1{
    margin-top: -20px;
    background-image: url('/4.jpg');
        background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .bgimg{
    margin-top: -150px;
    background-image: url('/2.jpg');  
      background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  img:hover{
    transform: scale(1.1);
    transition: 0.4s ease-in-out; ;
    cursor: pointer;
  }
  
  
  .card{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);
    border: 2px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
  
  }
  .BTN{
    padding: 10px;
    background: rgb(23, 149, 23);
    color: white;
    border-radius: 10px;
    font-family: sans-serif;
  }
  .BTN1{
    padding: 10px;
    background: rgb(130, 188, 130);
    color: rgb(6, 97, 6);
    border-radius: 10px;
    font-family: sans-serif;
  }
  a{
    text-decoration: none;
    text-align: center;
  }
  